@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --font-family: "Nunito", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-size: calc(12px + 1vw);
}

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #fefefe;
  color-scheme: var(--background-color);
  overflow: hidden auto;
}

body {
  position: relative;
  z-index: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  width: 100vw;
  padding: calc(40px + 10%) 0 calc(10px + 5%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
}

#github {
  position: absolute;
  top: 20px;
  right: 22px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#github svg {
  fill: #63676b;
}

#title {
  text-transform: uppercase;
  display: inline-flex;
  font-size: calc(45px + 3vw);
  color: #f0f0f0;
}

#title strong {
  transform: scale(0.9);
}

main {
  width: 98%;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  font-size: 0;
}

main input[name="tab"] {
  display: none;
}

main input:checked + label {
  color: #1c64f2;
}

#generator-tab:checked ~ .line {
  left: 0%;
}

#extractor-tab:checked ~ .line {
  left: 25%;
}

#picker-tab:checked ~ .line {
  left: 50%;
}

#mixer-tab:checked ~ .line {
  left: 75%;
}

#generator-tab:checked ~ .content-container #c1,
#extractor-tab:checked ~ .content-container #c2,
#picker-tab:checked ~ .content-container #c3,
#mixer-tab:checked ~ .content-container #c4 {
  display: flex;
}

main > label {
  display: inline-block;
  font-size: 14px;
  height: 54px;
  line-height: 54px;
  width: 25%;
  text-align: center;
  color: rgba(107, 114, 128);
  position: relative;
  cursor: pointer;
}

main > label::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  display: block;
  background: #e7e7e7;
  bottom: 0;
  left: 0;
}

main > label::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  display: block;
  background: #ccc;
  bottom: 0;
  opacity: 0;
  left: 0;
  transition: 0.25s ease;
}

main > label:hover::after {
  opacity: 1;
}

main .line {
  position: absolute;
  height: 2px;
  background: #1c64f2;
  width: 25%;
  top: 52px;
  left: 0;
  transition: 0.25s ease-in-out;
}

main .content-container {
  position: relative;
  min-height: 30vh;
  padding: 16px;
  font-size: 16px;
  color: rgba(107, 114, 128);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main .content-container .content {
  padding: 10px;
  width: 100%;
  display: none;
  transition: 0.25s ease;
  color: #333;
  flex-flow: column nowrap;
}

main .content-container .content h3 {
  font-weight: 200;
  margin: 10px 0;
}

main .content-container .content p {
  margin: 10px 0;
}

main .content-container .content p, main .content-container .content i {
  font-size: 13px;
}

canvas {
  margin: 2em auto;
  max-width: 600px;
  border-radius: 7pt;
}

#palette, #complementary {
  overflow: hidden;
  border-radius: 3pt;
}

#palette div, #complementary div {
  text-align: center;
  padding: 10px;
  color: #fff;
  user-select: all;
}

#c1 {
  flex-flow: column nowrap;
  align-items: center;
}

#generator-container {
  position: relative;
  margin-top: 1.2em;
  overflow: hidden;
  border-radius: 3pt;
  width: 100%;
  max-width: 720px;
  height: 50px;
  background-color: #030a20;
  border: 1px solid rgba(107, 114, 128, 0.6);
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

#generator-container input {
  position: absolute;
  top: 0;
  left: 0;
  border: 0px;
  min-width: 150px;
  width: 10%;
  max-width: 200px;
  height: 100%;
  padding: 0 10px;
  text-align: center;
  border-right: 1px solid #efe9e9;
}

#generator-container input[type=number]::-webkit-outer-spin-button,
#generator-container input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

code {
  user-select: all;
  font-size: 16px;
}

#c2 form, #c3 form {
  width: calc(100% - 32px);
  max-width: 650px;
  min-height: 320px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(48, 54, 61, 0.3);
  border-radius: 6px;
  text-align: center;
  margin: 0 auto;
}

#c2 form[drag='true'], #c3 form[drag='true'] {
  border: 2px dashed #30363d;
}

#c2 form[drag='true'] .file-upload-drag-text,
#c2 form[drag='true'] .file-upload-choose-text,
#c3 form[drag='true'] .file-upload-drag-text,
#c3 form[drag='true'] .file-upload-choose-text {
  display: none;
}

#c2 form svg,
#c3 form svg {
  margin-bottom: 1rem;
  fill: #7d8590;
}

#c2 form .file-upload-drag-text,
#c2 form .file-upload-drop-text,
#c3 form .file-upload-drag-text,
#c3 form .file-upload-drop-text {
  margin-bottom: 0.2rem;
  font-weight: bolder;
  font-size: 24px;
  letter-spacing: 0.4pt;
  opacity: 0.9;
}

#c2 form:not([drag='true']) .file-upload-drop-text,
#c3 form:not([drag='true']) .file-upload-drop-text  {
  display: none;
}

#c2 form .file-upload-choose-text,
#c3 form .file-upload-choose-text {
  width: 100%;
  font-size: 16px;
  color: #7d8590;
}

#c2 form .file-upload-choose-text span,
#c3 form .file-upload-choose-text span {
  padding-left: 4px;
  font-size: inherit;
  color: #2f81f7;
  cursor: pointer;
}

#c2 form .file-upload-choose-text span:hover,
#c3 form .file-upload-choose-text span:hover {
  text-decoration: underline;
}

#ex_file, #pik_file {
  display: none !important;
}

#c4 nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin: 1em 0 2em auto;
}

#c4 input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border-radius: 2vmax;
  overflow: hidden;
  cursor: pointer;
  height: 32px;
  width: 32px;
  padding: 0;
  border: 1px solid rgb(35, 36, 39);
}

*:focus{
  border-radius: 0;
  outline: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch{
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner{
  border: 0;
}

::-moz-focus-inner{
  padding: 0;
}

#c4 nav button, #open-picker {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Roboto,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: .0892857em;
  line-height: normal;
  min-width: 64px;
  outline: none;
  overflow: visible;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  will-change: transform,opacity;
}

#c4 nav button:hover, #open-picker:hover {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

#c4 nav button:disabled {
  background-color: rgba(0, 0, 0, .12);
  box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
  color: rgba(0, 0, 0, .37);
  cursor: default;
  pointer-events: none;
}

#c4 nav button:not(:disabled), #open-picker {
  background-color: #6200ee;
}

#c4 nav button:focus, #open-picker:focus {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

#c4 nav button:active, #open-picker:active {
  box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
  background: #A46BF5;
}

#open-picker {
  margin: 2em 0;
}

#mix-colors {
  min-width: 300px;
  max-width: 80%;
  padding: 0 15px 20px;
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}

#mix-colors div {
  width: 40px;
  height: 28px;
  border-radius: 4pt;
  cursor: pointer;
  border: 1px solid rgb(35, 36, 39);
}

#preview-mix {
  display: inline-flex;
}

#preview-mix div {
  width: 40px;
  height: 28px;
  border-radius: 4pt;
  border: 1px solid rgb(35, 36, 39);
}

#c4.null .note,
#c4.null .reset,
#c4.null #mix-colors,
#c4.null #mixed-color,
#c4.null #preview-mix {
  display: none;
}

[hidden="true"] {
  display: none !important;
}

canvas {
  max-width: 81.999vw;
}

footer {
  width: 100vw;
  padding: 1.25rem 0 20px;
  margin-top: auto;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

a {
  color: rgba(28, 100, 242);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}